# Prever despesas médicas
## Análise exploratória

In [1]:
# Carregar pacotes
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

# graficos na mesma pg
%matplotlib inline

In [2]:
# Importar dados
dados_desp_med = pd.read_csv('dados/despesas_medicas.csv')

In [6]:
print(dados_desp_med.shape)
dados_desp_med.head()

(1338, 7)

   idade       sexo    imc  filhos fumante    regiao  custo_medico_anual
0     19   feminino  27.90       0     yes   sudeste         16884.92400
1     18  masculino  33.77       1      no       sul          1725.55230
2     28  masculino  33.00       3      no       sul          4449.46200
3     33  masculino    NaN       0      no  nordeste         21984.47061
4     32  masculino  28.88       0      no  nordeste          3866.85520